#s1{
    text-align:center;
    background-color:orange;
}
#s2{
    text-align:center;
    background-color:red;
}
#s3{
    text-align:center;
    background-color:white;
}
#s4{
    text-align:center;
    background-color:green;
}
#s5{
    text-align:center;
    background-color:mediumblue;
}
#my img{
    width:300;
    height:300;
}